.navlinks {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navlinks li img {
  width: 60px;
  margin: 0 5px 0 5px;
  border-radius: 20px;
}
.lang-switch {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}