.tp-header {
  background-image: url("../../assets/img/header.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
.tp-header-title a {
  font-family: var(--font);
  text-decoration: none;
  font-size: 100px;
  margin-left: 20px;
  color: white;
}
a:active {
  color: var(--title-color);
}
a:hover {
  color: var(--title-color);
}
.tp-header-nav {
  padding: 0.5em;

}
header {
  min-height: 167px;
  max-height: 200px;
}
